<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Persoonsgegevens</title>
<style type="text/css">
.Sans {
	font-family: Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
}
</style>
</head>
<body>

<img src="/static/hu.png" alt="" width="100" height="104" align="left"/> <H1 class="Sans">Sportief tijdens Corona</H1>
<H1 class="Sans">Persoonsgegevens</H1>
<hr>

<ul>
    <li> <B>ID:</B> {{ latest_score_list.id }} </li>
<li> <B>Voornaam:</B> {{ latest_score_list.voornaam }} </li>
<li> <B>Achternaam:</B> {{ latest_score_list.achternaam }} </li>
<li> <B>Gewicht:</B> {{ latest_score_list.gewicht }} </li>
<li> <B>Leeftijd:</B> {{ latest_score_list.leeftijd }} </li>
<li> <B>Lengte:</B> {{ latest_score_list.lengte }} </li>
<li> <B>Emailadres:</B> {{ latest_score_list.emailadres }} </li>
    &nbsp;
    &nbsp;
<li><a href="{% url 'userentry:doelstellingen' latest_score_list.id %}">{{ 'Doelstellingen' }}</a></li>
<li><a href="{% url 'userentry:scorekaart' latest_score_list.id %}">{{ doelstellingen }}</a></li>

</ul>


</body>
</html>